<!DOCTYPE html>
<html>
<head>

	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">

	<title>CL Post</title>
	<script type="text/javascript">
	function test(){


	}
	</script>

</head>
<body>

	


	<!-- HTML SECTION -->
<div class="wrapper">

    <button class="button" onclick="weather.rb">CLICK</button>


</div>
	
	
	
</body>




</html>